{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "rules": {
    "react/prop-types": 0,
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^[A-Z]"
      }
    ]
  }
}
